<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="'https'+':'+'//unpkg.com/element-ui/lib/theme-chalk/index.css'">
    <script th:src="@{/vue/vue.js}"></script>
    <script th:src="@{/vue/vue-axios.js}"></script>
</head>
<style>
    .fy{
        text-align:center;
        margin-top:30px;
    }
</style>
<body>
    <div id="app">
        <el-form action="">
            <template>
                <el-form-item label="排序方式：">
                <el-select v-model="num" id="num" name="num" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                </el-form-item>
            </template>
        </el-form>
        <template>
            <el-table
                    :data="tableData.slice((currentPage-1)*PageSize,currentPage*PageSize)"
                    style="width: 100%">
                <el-table-column
                        prop="id"
                        label="ID"
                        >
                </el-table-column>
                <el-table-column
                        prop="productName"
                        label="商品"
                        >
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="单价">
                </el-table-column>
                <el-table-column
                        prop="quantity"
                        label="数量">
                </el-table-column>
                <el-table-column
                        prop="totalPrice"
                        label="总价">
                </el-table-column>
                <el-table-column
                        prop="saleDate"
                        label="销售时间">
                </el-table-column>
                <el-table-column
                        prop="realName"
                        label="销售员">
                </el-table-column>
            </el-table>
        </template>

        <el-pagination @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="pageSizes"
                       :page-size="PageSize" layout="total, sizes, prev, pager, next, jumper"
                       :total="totalCount">
        </el-pagination>
    </div>
</body>
<script th:src="'https'+':'+'//unpkg.com/element-ui/lib/index.js'"></script>
<script>
    var vue = new Vue({
        el:"#app",
        data(){
            return{
                // 总数据
                tableData:[],
                // 默认显示第几页
                currentPage:1,
                // 总条数，根据接口获取数据长度(注意：这里不能为空)
                totalCount:1,
                // 个数选择器（可修改）
                pageSizes:[3,4,5],
                // 默认每页显示的条数（可修改）
                PageSize:4,

                options: [{
                    value: 0,
                    label: '销售日期'
                }, {
                    value: 1,
                    label: '单笔总价'
                }],
                num: 0

            }
        },
        methods:{
            getSaleProList(){

                axios.get("/getSaleProlist",{params: {num:this.num}})
                    .then(rs => {
                        this.tableData =rs.data;
                        this.totalCount = rs.data.length;
                    })
                    .catch(error => {

                    })
            },
            // 分页
            // 每页显示的条数
            handleSizeChange(val) {
                // 改变每页显示的条数
                this.PageSize=val
                // 注意：在改变每页显示的条数时，要将页码显示到第一页
                this.currentPage=1
            },
            // 显示第几页
            handleCurrentChange(val) {
                // 改变默认的页数
                this.currentPage=val
            }
        },
        created() {
            this.getSaleProList();
        },
        watch:{
            num(){
                this.tableData =[];
                this.getSaleProList();
            }
        }
    })
</script>
</html>