<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.inv.mapper.UsersMapper">
    <select id="getUserByName" resultType="cn.inv.pojo.Users">
        select * from Users where userName =#{username,jdbcType=VARCHAR};
    </select>
</mapper>
